 :root{
    font-size: 1rem;
    --back-color:#f5e8e8;
}
*,*::after,*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  
}
body{
    background-color:var(--back-color) ;
    width: 100vw;
    height: 100vh;
} 

h1{
       text-align: center;
       color: blanchedalmond;
       background-color: black;
       padding: 10px;
       margin-bottom: 10px;
}
.connectUser{
       text-decoration: none;
       font-size: 1.5rem;
       background-color: bisque;
       padding: 5px;
       border: 1px solid gray;
       border-radius: 5px;
}


form{
width: 400px;   
border: 1px solid black;
padding: 5px;
position: relative;
top: 50%;
left: 50%;
transform: translate(-50%,-90%);
}
form label{
    display: inline-block;
    width: 100px;
}

input{
    padding :3px;
}
.boite{
    margin: 20px;
}
#container{
    width: 400px;
    height: 500px;
    border: 1px solid black;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.dialog
{
   display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;
}
.send
{
   display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
}
header{
       color: antiquewhite;
       background-color: black;
       padding: 50px;
    
      
       & ul{
              list-style-type: none;
              font-size: 1.2rem;
              line-height: 1.7rem;
       }
}
.chat-dialog{
width: 400px;
min-width: 350px;
height: 450px;
overflow: auto;
border: 1px solid black;
background-color: rgb(33, 96, 103);
}
.chat-participant{
width: 200px;
border: 1px solid black;
height: 480px;
overflow: auto;
border: 1px solid black;
background-color: rgb(33, 96, 103);
font-size: 1.2rem;
text-align: center;
border: 1px solid gray;
color :rgb(8, 206, 143);
}
.titre{
       color: darkblue;
}
 
main{
       display: flex;
       flex-direction: column;
       justify-content: space-between;
       align-items: center;
       gap: 30px;
}

#start{
       margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.message-user{
     & .heure{
            color:blue;
     }
     & .pseudo{
            color:rgb(196, 177, 10);
     }
     & .message{
        color:rgb(196, 177, 10);
     }
}

.message-user1{
     & .heure{
            color:blue;
     }
     & .pseudo{
            color:rgb(196, 177, 10);
     }
     & .message{
       color:rgb(196, 177, 10);
     }
}

.message-user2{
     & .heure{
            color:rgb(98, 187, 20);
     }
     & .pseudo{
            color:rgb(91, 208, 234);
     }
     & .message{
           color:rgb(91, 208, 234);
     }
}

.message-user3{
     & .heure{
            color:rgb(215, 239, 110);
     }
     & .pseudo{
            color:rgb(100, 5, 160);
     }
     & .message{
           color:rgb(100, 5, 160);
     }
}

.message-user5{
     & .heure{
            color:rgb(245, 195, 13);
     }
     & .pseudo{
            color:rgb(241, 53, 184);
     }
     & .message{
           color:rgb(241, 53, 184);
     }
}

.message-user6{
     & .heure{
            color:blue;
     }
     & .pseudo{
            color:rgb(187, 219, 10);
     }
     & .message{
           color:rgb(187, 219, 10);
     }
}


@media screen and (max-width: 640px) {
   #start{
       display: flex;
       flex-direction: column;
   } 
}


@media screen and (max-width: 768px) {
  
}


@media screen and (max-width: 1024px) {
    
}


@media screen and (max-width: 1280px) {
    
}


@media screen and (max-width: 1536px) {
    
}